:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #0f172a; /* Tume taust */
  color: white;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
}